@import "tailwindcss";
@plugin "tailwindcss/plugin";

:root {
  --color-bg: #FF773A;
  --color-box-bg: #ffffff;
  --color-box-bg-alt: #f5f5f5;
  --color-text: #1e1e1e;
  --color-subtle: #7a7a7a;

  --radius-card: 16px;
  --radius-btn: 8px;
}

.dark {
  --color-bg: #CC5500;
  --color-box-bg: #1a1a1a;
  --color-box-bg-alt: #111111;
  --color-text: #f2f2f2;
  --color-subtle: #b5b5b5;
}
